body {
    background-color: rgb(209, 209, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: darkblue;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
img {
    width: 100px;
    height: 100px;
    padding-left: 120px;
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 50px;
}
div {
    display: flex;
}